/* DropDownMenu.css */
.CollapsibleMenu {
  width: 14rem;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.CollapsibleMenu-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
.CollapsibleMenu-header .arrow {
  margin-left: auto;
}

.CollapsibleMenu-content {
  margin-top: 10px;
  padding-left: 15px;
}

.CollapsibleMenu-content a {
  display: block;
  color: #d3d3d3;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.CollapsibleMenu-content a:hover {
  background-color: #333;
  color: red;
}

.nested-dropdown {
  margin-left: 20px;
  margin-top: 5px;
}

.nested-dropdown a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nested-menu {
  padding-left: 30px;
  margin-top: 5px;
}

.nested-menu a {
  padding: 3px 0;
  color: #d3d3d3;
  text-decoration: none;
}

.nested-menu a:hover {
  color: red;
}
