.labbook-solution {
  padding: 0 20px;
  margin: 80px auto;
  font-family: Arial, sans-serif;
  display: block;
  width: 100%;
}

.year {
  background-color: #ccc;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.year-title {
  font-size: 18px;
  font-weight: bold;
}

.semesters,
.subjects {
  margin-left: 20px;
  margin-top: 10px;
}

.semester {
  background-color: #e0e0e0;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.subjects div {
  background-color: #f0f0f0;
  margin-bottom: 3px;
  padding: 3px;
  border-radius: 3px;
}
